// Generated color palette from pywal
@use "wal/colors.scss";

button.Clock {
    padding-top: 5px;

    .digit-stack {
        font-size: 12px;
        font-family: 'FiraCode Nerd Font Mono', monospace;
    }
}
