# Ignore, because it's symlinked to ~/.cache/wal
.config/ags/wal

.config/ags/colors.scss

# All backgrounds ever from gnome-backgrounds package
all-gnome-backgrounds/
.config/sway/backgrounds/
.config/sway/config.json