// Generated color palette from pywal
@use "wal/colors.scss";

.Menu {
  font-family: 'FiraCode Nerd Font Mono';
  border-radius: 10px;

  .vpadding1 {
    padding-top: 1px;
    padding-bottom: 0px;
  }

  .vpadding0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .menu-content {
    padding: 1px;
    min-width: 150px;
  }

  .menu-button {
    font-size: 12px;
    font-weight: normal;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &.animate {
      $button-count: 10;  // Not actual count
      $animation-delay-step: 0.05s;

      @for $i from 1 through $button-count {
        &:nth-child(#{$i}) {
          animation: buttonPop 0.1s cubic-bezier(0.4, 0, 0.2, 1) #{($i * $animation-delay-step)} backwards;
        }
      }
    }

    @keyframes buttonPop {
      from {
        opacity: 0;
        transform: scale(0.8);
      }

      to {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}