/*
// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
*/

// Import specific module styles
@use "modules/osIcon/osIcon.scss";
@use "modules/clock/clock.scss";
@use "modules/batteryIndicator/batteryIndicator.scss";
// Generated color palette from pywal
@use "wal/colors.scss";

window.Bar {
  font-family: 'FiraCode Nerd Font Mono', monospace;
  background: transparent;
  color: colors.$foreground;
  font-weight: 500;
  margin: 10px 0px 10px 10px;

  .bottomPadding {
    padding-bottom: 10px;
  }

  .boxAnimation {
    * {
      $button-count: 10;  // Not actual count
      $animation-delay-step: 0.05s;

      @for $i from 1 through $button-count {
        &:nth-child(#{$i}) {
          animation: buttonPop 0.1s cubic-bezier(0.4, 0, 0.2, 1) #{(0.1 + $i * $animation-delay-step)} backwards;
        }
      }
    }

    @keyframes buttonPop {
      from {
        opacity: 0;
        transform: scale(0.8);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}