// Generated color palette from pywal
@use "wal/colors.scss";

button.OsIcon {
    background-color: transparent;
    border-radius: 20px; // Rounded corners
    transition: background-color 0.25s ease;
}

button.OsIcon:hover {
    background-color: rgba(colors.$foreground, 0.1);
}
